In [5]:
#OPENING FILE
with open("geek.txt", "w") as f_create:
    pass # Create an empty file if it doesn't exist
f = open("geek.txt", "r")
print(f)
f.close()

<_io.TextIOWrapper name='geek.txt' mode='r' encoding='utf-8'>

In [7]:
#closing file
file = open("geek.txt", "r")
#Perform file operations
file.close()

In [8]:
#CHECKING FILE PROPERTIES
f = open("geek.txt", "r")
print("Filename:", f.name)
print("Mode:", f.mode)
print("Is Closed?", f.closed)

f.close()
print("Is Closed?", f.closed)

Filename: geek.txt
Mode: r
Is Closed? False
Is Closed? True

In [12]:
#READING FILE
file = open("geek.txt", "r")
content = file.read()
print(content)
file.close()

Hello, Python!
File handliing is easy with python.

In [11]:
#WRITING FILE
with open("geek.txt", "w") as file:
    file.write("Hello, Python!\n")
    file.write("File handliing is easy with python.")
print("File written Successfully")

File written Successfully

In [13]:
#USING WITH STATEMENT
with open("geek.txt", "r")as file:
  content = file.read()
  print(content)

Hello, Python!
File handliing is easy with python.

In [14]:
#HANDLING EXCEPTION
try:
  file = open("geek.txt", "r")
  content = file.read()
  print(content)
finally:
  file.close()

Hello, Python!
File handliing is easy with python.

In [15]:
#Exception handling
n = 10
try:
    res = n / 0
except ZeroDivisionError:
    print("Can't be divided by zero!")

Can't be divided by zero!

In [16]:
try:
    n = 0
    res = 100 / n
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Enter a valid number!")
else:
    print("Result is", res)
finally:
    print("Execution complete.")

You can't divide by zero!
Execution complete.

In [17]:
#CATCHING SPECIFIC ERROR
try:
    x = int("str")
    inv = 1 / x
except ValueError:
    print("Not Valid!")
except ZeroDivisionError:
    print("Zero has no inverse!")

Not Valid!

In [18]:
#catching multiple exception
a = ["10", "twenty", 30]
try:
    total = int(a[0] + int(a[1]))
except (ValueError, TypeError) as e:
    print("Error", e)
except IndexError:
    print("Index out of range.")

Error invalid literal for int() with base 10: 'twenty'

In [19]:
#CATCHING ALL HANDERS
try:
    res = "100" / 20
except ArithmeticError:
    print("Arithmetic Error")
except:
    print("Something went wrong!")

Something went wrong!

In [20]:
#RAISING AN EXCEPTION
def set(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")
    print(f"Age set to {age}")

try:
    set(-5)
except ValueError as e:
    print(e)

Age cannot be negative.

In [21]:
#CUSTOMER EXCEPTION
class AgeError(Exception):
    pass
def set(age):
    if age < 0:
        raise AgeError("Age cannot be negative.")
    print(f"Age set to {age}")

try:
    set(-5)
except AgeError as e:
    print(e)

Age cannot be negative.

In [22]:
#functions
def fun():
    print("Welcome")
fun()

Welcome

In [23]:
# argument passing:
def evenodd(x):
    if x%2==0:
        print("Even")
    else:
        print("Odd")
print (evenodd(16))
print (evenodd(15))

Even
None
Odd
None

In [24]:
#keyword arguments
def student(fname,lname):
    print(fname,lname)
student(fname="Practice",lname="Daily")
student(lname="Daily",fname="Practice")

Practice Daily
Practice Daily

In [25]:
#default arguments
def myFun(x,y=20):
    print("x:",x)
    print("y:",y)
myFun(30)

x: 30
y: 20

In [26]:
#positional arguments
def person(name,age):
    print("Hi Iam",name)
    print("Hi Iam",age)
print ("case1")
person("Ram",25)
print ("case2")
person(25,"Ram")

case1
Hi Iam Ram
Hi Iam 25
case2
Hi Iam 25
Hi Iam Ram

In [27]:
#function within function
def f1():
    s="I Love India"
    def f2():
        print(s)
    f2()
f1()

I Love India

In [28]:
#pass by reference
def myFun(x):
    x[0]=20
lst=[10,20,30,40,50]
print(lst)
myFun(lst)
print(lst)

[10, 20, 30, 40, 50]
[20, 20, 30, 40, 50]

In [30]:
#pass by value
def myFun(x):
    x=20
a=20
print(a)
myFun(a)
print(a)
# a is not modified

20
20